/* Brand 1 ---------------------------------- */
.brand-grid {
    &-wrap {
        --ot-border-color: #E3E8F4;
        border: 1px solid $border-color;
        border-radius: 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        overflow: hidden;
        @include sm {
            grid-template-columns: repeat(2, 1fr);
            border-radius: 10px;
        }
    }
    display: grid;
    align-items: center;
    justify-content: center;
    height: 170px;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: $border-color !important;
    transition: 0.4s ease-in-out;
    @include lg {
        height: 120px;
    }
    @include md {
        height: 100px;
        padding: 15px;
    }
    &:nth-child(4n) {
        border-right: none;
    }
    &:nth-last-child(-n + 4) {
        border-bottom: none;
    }
    @include sm {
        padding: 20px;
        &:nth-child(2n) {
            border-right: none;
        }
        &:nth-last-child(-n + 4) {
            border-bottom: 1px solid;
        }
        &:nth-last-child(-n + 2) {
            border-bottom: none;
        }
    }
    &:hover {
        box-shadow: 0px 14px 43px rgba(147, 151, 160, 0.15);
    }
}

/* Brand 2 ---------------------------------- */
.brand-slider1 {
    padding: 100px 0;
    border-bottom: 1px solid #D9DEE8;
    @include lg {
        padding: 80px 0;
    }
    @include md {
        padding: 60px 0;
    }
}
.brand-card {
    height: 42px;
    display: grid;
    justify-content: center;
    align-items: center;
}