/* Counter 1 ---------------------------------- */
.counter-card {
    --border-color: #D4D4D4;
    &-wrap {
        display: flex;
        justify-content: space-between;
        padding: 100px 0 $space 0;
        border-top: 1px solid $border-color;
        @include md {
            flex-wrap: wrap;
            padding: 80px 0;
            gap: 24px;
        }
    }
    display: flex;
    align-items: center;
    gap: 25px;
    @include lg {
        gap: 20px;
    }
    @include md {
        flex: calc(50% - 24px);
    }
    @include xs {
        flex-direction: column;
        text-align: center;
        gap: 16px;
    }
    .box-icon {
        @include equal-size-lineHeight(90px);
        background-color: $theme-color;
        border-radius: 99px;
        text-align: center;
    }
    .box-number {
        font-size: 44px;
        color: $title-color;
        font-weight: 600;
        margin-bottom: 4px;
        margin-top: -0.15em;
    }
    .box-text {
        display: block;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 0;
    }
}

.counter-sec-border {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding: 100px 0;
    @include md {
        padding: 80px 0;
    }
}