/* Price Card ---------------------------------- */
.price-card {
    padding: 60px 86px 60px 70px;
    background-color: $white-color;
    border: 1px solid $theme-color;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    transition: 0.4s ease-in-out;
    @include lg {
        padding: 40px;
    }
    @include md {
        padding: 50px 150px 50px 100px;
    }
    @include sm {
        padding: 50px;
    }
    .box-header {
        position: relative;
        z-index: 2;
        width: 160px;
        &:before {
            content: '';
            position: absolute;
            top: 22px;
            left: 25px;
            @include equal-size(140px);
            background-color: $theme-color;
            opacity: 0.06;
            border-radius: 999px;
            transition: 0.4s ease-in-out;
            z-index: -1;
        }
    }
    .box-img {
        margin-bottom: 15px;
    }
    .box-price {
        font-size: 48px;
        font-weight: 400;
        line-height: 1;
        color: $title-color;
    }
    .box-title {
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
        color: $body-color;
        max-width: 128px;
        margin-top: 15px;
        margin-bottom: -0.3em;
    }
    .check-list {
        margin-bottom: 25px;
    }
    .ot-btn {
        background-color: $smoke-color2;
        color: $title-color;
        &:before {
            background-color: $theme-color;
        }
        &:hover {
            color: $white-color;
        }
    }
    @include xs {
        padding: 40px;
        flex-direction: column;
        gap: 30px;
        .box-header {
            width: 100%;
        }
        .box-title {
            max-width: 100%;
        }
    }
    &:hover {
        border-color: transparent;
        box-shadow: 0px 9px 75px rgba(30, 44, 72, 0.09);
        .box-header {
            &:before {
                top: 45px;
            }
        }
    }
}

/* Price Box ---------------------------------- */
.price-box {
    padding: 40px;
    margin-left: -1px;
    position: relative;
    z-index: 2;
    @include xl {
        padding: 30px;
    }
    @include lg {
        padding: 50px;
    }
    @include vxs {
        padding: 30px;
    }
    &:before {
        content: '';
        position: absolute;
        inset: 0;
        border: 1px solid $border-color;
        border-radius: inherit;
        transition: 0.4s ease-in-out;
    }
    &-wrap {
        &:first-child {
            .price-box {
                border-radius: 15px 0 0 15px;
            }
        }
        &:last-child {
            .price-box {
                border-radius: 0 15px 15px 0;
            }
        }
    }
    .box-img {
        margin-bottom: 35px;
    }
    .box-price {
        margin-bottom: 10px;
        color: $title-color;
        .price {
            font-size: 48px;
            font-weight: 400;
            line-height: 1;
            color: $title-color;
        }
    }
    .box-title {
        font-size: 30px;
        margin-bottom: 25px;
    }
    .check-list {
        margin-bottom: 25px;
        li {
            margin-bottom: 4px;
            i {
                color: inherit;
            }
        }
    }
    .ot-btn {
        margin-top: 40px;
    }
    &:hover {
        border-radius: 15px !important;
        &:before {
            top: -40px;
            bottom: -40px;
        }
    }
    @include lg {
        border-radius: 0 !important;
        margin-bottom: -1px;
        &:hover {
            border-radius: 0 !important;
        }
        &:before {
            inset: 0 !important;
        }
    }
}